//var2.0&3.0
@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?87y7rc');
    src:    url('fonts/icomoon.eot?87y7rc#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?87y7rc') format('truetype'),
        url('fonts/icomoon.woff?87y7rc') format('woff'),
        url('fonts/icomoon.svg?87y7rc#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-chat-3:before {
    content: "\e900";
}
.icon-vertical_align_top:before {
    content: "\e901";
}
.icon-wechat:before {
    content: "\e902";
}
.icon-mobile:before {
    content: "\e903";
}
//common
@import "mixin";
@import "toolbar";